.nav-button {
  color: chocolate;
  border: 1px solid chocolate;
}
.nav-button:hover {
  background-color: chocolate;
  border: 1px solid chocolate;
}

main{
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
}
.main-image-container {
  /* height: 221px; */
}
.main-image {
  width: 100vw;
}
.main-headline-container {
  height: 120px;
  margin: 3rem 0;
}
.main-card-container {
  height: 305px;

}
.main-card-font {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;

}
.headline {
  text-align: center;
  margin-bottom: .5rem;
}
.sub-headline {
  text-align: center;
}
.button-area {
  text-align: center;
}
.button-style {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: .375rem .75rem;
}

footer {
  height: 293px;
  color: white;
  background-color: black;
}
footer a{
  color: white;
  text-decoration: none;
}
.footer-secondline {
  border-top: 1px solid white;
}
.footer-secondline-item-span {

}
.footer-secondline-item-a {

}