.nav-button {
  color: chocolate;
  border: 1px solid chocolate;
}
.nav-button:hover {
  background-color: chocolate;
  border: 1px solid chocolate;
}

.main-image {
  width: 100vw;
}

.button-style {
  color: #fff;
  background-color: #212529;
  border: 0px;
  border-radius: 5px;
  padding: .375rem .75rem;
}

footer {
  /* height: 293px; */
  color: white;
  background-color: #19110b;
}
.footer-firstline {
  border-bottom: 1px solid #392d23;
}
.footer-secondline a{
  color: #ffffff;
  text-decoration: none;
}
.footer-thirdline {
  display: none;
}
@media screen and (max-width:48rem){
  .footer-firstline {
    text-align: center;
  }
  .country {
    display: none;
  }
  .footer-secondline {
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid #392d23;
  }
  .footer-thirdline {
    display: block;
  }
}